{% extends 'base.html.twig' %}

{% block title %}Liste de séries{% endblock %}

{% block body %}
    <h2>Les séries</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Overview</th>
            <th>Status</th>
            <th>Vote</th>
            <th>Popularity</th>
            <th>Genres</th>
            <th>First Air date</th>
        </tr>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.name }}</td>
                <td>{{ serie.overview }}</td>
                <td>{{ serie.status }}</td>
                <td>{{ serie.vote }}</td>
                <td>{{ serie.popularity }}</td>
                <td>{{ serie.genres }}</td>
                <td>{{ serie.firstAirDate|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}