{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Series {% endblock %}

{% block body %}
    <h2>Series</h2>

    <section>
        <ul>
            <li><a href="{{ path(app.request.attributes.get('_route')) }}">All</a></li>
            <li><a href="{{ path(app.request.attributes.get('_route'), {'status' : 'returning'}) }}">Returning</a></li>
            <li><a href="{{ path(app.request.attributes.get('_route'), {'status' : 'ended'}) }}">Ended</a></li>
            <li><a href="{{ path(app.request.attributes.get('_route'), {'status' : 'canceled'}) }}">Canceled</a></li>
        </ul>

        {% if page > 1 %}
            <a href="{{ path(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')|merge({'page' : page-1})
            )}}">Page précédente</a>&nbsp;
        {% endif %}
        {%  if page < nb_total_pages %}
            <a href="{{ path(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')|merge({'page' : page+1})
            )}}">Page suivante</a>
        {% endif %}
    </section>

    <section class="series-list">
        {% for serie in series %}
            <a href="{{ path('serie_detail', {'serie' : serie.id}) }}">
                <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" width="250px" loading="lazy" alt="{{ serie.name }}"/>
            </a>
        {% else %}
            <p>Pas de Série !</p>
        {% endfor %}
    </section>
{% endblock %}